body {
  margin: 0;
}

h1,h2,h3,p,a {
    font-family: 'Noto Serif JP', serif;
}

a {
  text-decoration: none;
}

/* common */
.cta-button {
  color: #ffffff;
  background-color: #464646;
  font-size: 24px;
  padding: 16px 56px;
  box-sizing: border-box;
}

.cta-button i {
  margin-left: 16px;
}

.cta-button:hover {
  color: #464646;
  background: #fff;
  border: 1px solid #464646;
}

/* header */

header {
  background: #3b4b5a;
  display: flex;
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 0;
}

.logo-sp {
  width: 120px;
  height: 40px;
}

.logo-pc {
  width: 390px;
  height: 70px;
  display: none;
}

header .bi {
  font-size: 26px;
  color: #ffffff;
  margin-left: auto;
}

.header-pc-menu-list {
  display: none;
  margin-right: 0;
}

.header-pc-menu {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin-left: 60px;
  line-height: 80px;
}

.header-pc-menu:hover {
  border-bottom: 1px solid #fff;
}

/* header PC */

@media (min-width: 600px) {
  header {
    height: 120px;
    padding: 25px 60px;
  }
  .logo-sp {
    display: none;
  }
  .logo-pc {
    display: block;
  }
  header .bi {
    display: none;
  }
  .header-pc-menu-list {
    display: block;
  }
}

/* ヒーローエリア */

.hero-area {
  height: 568px;
  background-image: url('https://256times-upload-files.s3.ap-northeast-1.amazonaws.com/production/101/4311/af880fc03d0175ac6ec908ba4f05cab9769dbdcc.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.message-box {
  box-sizing: border-box;
  background: #3b4b5a99;
  width: 234px;
  height: 134px;
  color: #ffffff;
  margin-top: 177px;
  padding: 10px 20px;
}

.message-box h2 {
  margin: 0;
  font-size: 24px;
  line-height: 1.6;
}

.message-box p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.2;
}

.chikara {
    font-family: 'Oswald', sans-serif;
}


/* ヒーローエリア PC*/
@media (min-width: 600px) {
  .hero-area {
    height: 832px;
    padding: 100px;
  }
  .message-box {
    width: 481px;
    height: 253px;
    margin-top: 229px;
    padding: 20px 40px;
  }
  .message-box h2 {
    font-size: 48px;
  }

  .message-box p {
    margin-top: 25px;
    font-size: 24px;
  }
}

/* コンセプト */

.concept-area {
  text-align: center;
  background: #efefef;
  padding: 40px;
}

.h2-title {
  font-size: 36px;
  margin: 0;
}

.h2-title-p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.2;
}

.concept-box {
  width: 280px;
  height: auto;
  margin: 64px auto;
}

.concept-box img {
  border-radius: 100%;
  width: 260px;
  height: 260px;
  object-fit: cover;
}

.consept-box h3 {
  font-size: 32px;
}

.concept-box p {
  font-size: 16px;
  line-height: 1.6;
  margin: 8px 0 0;
  text-align: left;
}

/* コンセプト PC*/
@media (min-width: 600px) {
  .h2-title {
    font-size: 40px;
  }
  .h2-title-p {
    font-size: 24px;
  }
  .concept-list {
    max-width: 908px;
    display: flex;
    gap: 64px;
    margin: 0 auto;
  }
}

/*service*/

.service-area {
  background: #3b4b5a;
  padding: 40px;
  text-align: center;
}

.title-white {
  color: #fff;
}

.service-block {
  width: 280px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  margin: 48px auto;
}

.service-block h3 {
  font-size: 24px;
  margin-top: 12px;
  color: #fff;
}

.service-block img {
  width: 100%;
}

.service-block p {
  width: 240px;
  margin: 12px auto;
  text-align: left;
  color: #fff;
}

.service-link {
  color: #fff;
  font-size: 24px;
}


.service-link i {
  margin-left: 8px;
}


  
.service-link:hover {
  border-bottom: 1px solid #fff;
}

/*service PC*/
@media (min-width: 600px) {
  .service-block {
    display: flex;
    gap: 96px;
    height: auto;
    justify-content: center;
    margin: 48px auto;
  }
  .service-block:nth-child(even) {
    flex-direction: row-reverse;
  }
  .service-block-text {
    margin: auto;
  }

  .service-block img {
    width: 590px;
    height: auto;
  }
}

/* gallery */
.gallery-area {
  background: #efefef;
  padding: 40px;
  text-align: center;
}

.gallery-pictures {
  margin: 48px -40px;
  overflow: hidden;
}

.gallery-pictures-flow {
  animation-name: flow;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 1580px;
  display: flex;
  gap: 16px;
}

.gallery-pictures-link:hover img {
  opacity: 0.7;
}

@keyframes flow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1580px);
  }
}

.gallery-pictures-flow img {
  width: 300px;
}

/* gallary PC */

@media (min-width: 600px) {

  .gallery-pictures-flow {
      animation-duration: 120s;
  }
  .gallery-pictures-flow img {
    width: 404px;
  }
}

/* footer */
footer {
  background: #f4f3df;
  padding: 60px 20px;
  text-align: center;
}

.footer-logo {
  width: 200px;
}

.footer-table {
  margin: 50px auto;
  text-align: left;
  min-width: 240px;
  font-size: 16px;
}

.footer-sns-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-sns-list .bi {
  font-size: 30px;
}

.footer-sns-list .bi:hover {
  opacity: 0.7;
}

.bi-instagram {
  color: #e7973a;
}

.bi-twitter {
  color: #1d9bf0;
}

.bi-facebook {
  color: #1877f2;
}

.footer-copyrights {
  font-size: 14px;
}

/* footer PC*/
@media (min-width: 600px) {
  footer {
    padding: 40px 170px;
  }
  .footer-content {
    display: flex;
    gap: 200px;
    justify-content: center;
    margin: 80px auto;
  }
  .footer-logo {
    width: 300px;
    height: 120px;
  }
  .footer-table {
    margin: 0;
  }
  .footer-sns-list .bi {
    font-size: 40px;
  }
}
